/*Cor dos botões de Navegação*/
:root {
    --swiper-theme-color: #ffffff;
  }
  
  /*Tamanho e o posicionamento do Carrossel*/
  .swiper {
    height: 70vh;
    margin: 0;
  }
  
  /*Estiliza a imagem do slide*/
  .swiper-slide-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }